<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GenerateImages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <GenerateImages.Properties.Settings>
      <setting name="SourceFilePath" serializeAs="String">
        <value>C:\Users\PandoraWall_designer\Documents\ПриложениеWall.xlsx</value>
      </setting>
      <setting name="ServerLeftName" serializeAs="String">
        <value>PB437472001</value>
      </setting>
      <setting name="ServerMiddleName" serializeAs="String">
        <value>PB437453001</value>
      </setting>
      <setting name="ServerRightName" serializeAs="String">
        <value>PB437466001</value>
      </setting>
      <setting name="MainProgramHttpUrl" serializeAs="String">
        <value>http://127.0.0.1:8187</value>
      </setting>
    </GenerateImages.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>